

<style>
    #recordpageMainDiv {
        width: 81%;
        /*height: 200px;*/
        margin: auto;
        /*padding: 10px;*/
    }

    div#one {
        width: 80%;
        /*height: 200px;*/
        float: left;
    }

    div#two {
        /*margin-left: 15%;*/
        width: 20%;
        float: right;
        /*height: 200px;*/
        position: fixed;
        top: 50%;
        left: 78%;
        /*width: 30em;*/
        /*height: 18em;*/
        margin-top: -9em; /*set to a negative number 1/2 of your height*/
        /*margin-left: -15em;*/ /*set to a negative number 1/2 of your width*/
        /*border: 1px solid #ccc;*/
        /*background-color: #f3f3f3;*/
    }
</style>
<div class="modal fade" id="recordDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div id="recordpageMainDiv">
        <div id="one">
            <div style="width: 1100px;" class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" id="dialgHeaderPadding">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Add/Edit Oil Change Record</h4>
                    </div>
                    <div class="col-lg-12 form-horizontal outerDiv-Padding" @*data-bind="with: $root.selectedOilChangeRecords"*@>
                        <div class="well" style="height: 73px;">
                            <div class="col-sm-12" data-bind="with: $root.selectedRecord">
                                @*style="margin-left: 23%"*@
                                <div class="col-sm-3">
                                    <div class="col-lg-3">
                                        <label for="firstName" class="control-label text-right" style="float: right">Name</label>
                                    </div>
                                    <div class="col-lg-9" id="firstName">
                                        <input type="text" class="form-control" placeholder="e.g Asad Ahmad" data-bind="value: firstName" />
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="col-lg-4">
                                        <label for="mobileNumber" class="control-label text-right" style="float: right">Mobile Number</label>
                                    </div>
                                    <div class="col-lg-7" id="mobileNumber">
                                        <input type="text" class="form-control" placeholder="e.g 03001111111" data-bind="value: mobileNumber" />
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="col-sm-7"><input type="text" class="form-control" placeholder="e.g : LXY 1717" /></div>
                                    <div class="col-sm-1" style="width: 0%;margin-top: 2%;">-</div>
                                    <div class="col-sm-4"><input type="text" class="form-control" placeholder="e.g :  09" /></div>
                                    @*<div class="col-sm-2"><input type="text" class="form-control" placeholder="e.g :  1717" /></div>*@
                                </div>
                                <div class="col-sm-1 ui-icon-search"> </div>
                            </div>
                        </div>

                        <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Link with href
                        </a>

                        <div class="collapse" id="collapseExample">
                            <div class="well">
                                <table id="" class="table table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Customer Name</th>
                                            <th>Vehicle</th>
                                            <th>Vehicle No.</th>
                                            <th>Oil</th>
                                            <th>Oil Change Date</th>
                                            <th>SMS</th>
                                            <th>Grand Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>asdads</td>
                                            <td>asdads</td>
                                            <td>asdads</td>
                                            <td>asdads</td>
                                            <td>asdads</td>
                                            <td>asdads</td>
                                        </tr>
                                    </tbody>
                                    @*<tbody data-bind="foreach: oils">
                                            <tr data-bind="click: $root.selectOil">
                                                <td data-bind="text: oilMakerCompanyName"></td>
                                                <td data-bind="text: oilName"></td>
                                                <td data-bind="text: oilPower"></td>
                                                <td data-bind="text: oilAverageMilage"></td>
                                                <td data-bind="text: oilPrice"></td>
                                                <td>
                                                    <!-- ko template: { name: 'editActionVehicleTemplate' } -->
                                                    <!-- /ko -->
                                                </td>
                                                <td>
                                                    <!-- ko template: { name: 'deleteActionVehicleTemplate' } -->
                                                    <!-- /ko -->
                                                </td>
                                            </tr>
                                        </tbody>*@
                                </table>
                            </div>
                        </div>

                        <div id="recordData" data-bind="with: $root.selectedRecord">

                            <div class="form-group">
                                <div class="col-sm-2"><label class="control-label text-right" style="float: right">Oil</label></div>
                                <div class="col-sm-2 btn-group">
                                    <label data-bind="css: { active: ($root.recordContainsOil() == 1)}, click: $root.showOilSection(), clickBubble: false" class="btn btn-primary">
                                        Yes
                                    </label>
                                    <label data-bind="css: { active: ($root.recordContainsOil() == 0)}, click: $root.hideOilSection(), clickBubble: false" class="btn btn-primary">
                                        No
                                    </label>
                                </div>
                            </div>

                            <div id="OilSection">
                                <div class="form-group">

                                    @*<div class="col-lg-4">
                                            <div class="col-lg-6">
                                                <label for="firstName" class="control-label text-right" style="float: right">Name</label>
                                            </div>
                                            <div class="col-lg-6" id="firstName">
                                                <input type="text" class="form-control" data-bind="value: firstName"/>
                                            </div>
                                        </div>*@
                                    @*<div class="col-lg-4">
                                            <div class="col-lg-6">
                                                <label for="lastName" class="control-label text-right" style="float: right">Last Name</label>
                                            </div>
                                            <div class="col-lg-6" id="lastName">
                                                <input type="text" class="form-control" data-bind="value: lastName" />
                                            </div>
                                        </div>*@
                                    @*<div class="col-lg-4">
                                            <div class="col-lg-6">
                                                <label for="mobileNumber" class="control-label text-right" style="float: right">Mobile Number</label>
                                            </div>
                                            <div class="col-lg-6" id="mobileNumber">
                                                <input type="text" class="form-control" data-bind="value: mobileNumber" />
                                            </div>
                                        </div>*@
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-4">
                                        <div class="col-lg-6">
                                            <label for="vehicleCompany" class="control-label text-right" style="float: right">Vehicle Company</label>
                                        </div>
                                        <div class="col-lg-6" id="vehicleCompany">
                                            <select id="vehicleMaker" class="form-control" data-bind="options: $root.vehiclesMakersList ,optionsText: 'vehicleMakerName',optionsCaption: 'Choose Company' , optionsValue: 'vehicleMakerId', value: vehicleCompanyId"></select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="col-lg-6">
                                            <label for="vehicleModel" class="control-label text-right" style="float: right">Vehicle Model</label>
                                        </div>
                                        <div class="col-lg-6" id="vehicleModel">
                                            <select id="vehicleMaker" class="form-control" data-bind="options: $root.vehicleModelsListForDialog, optionsText: 'vehicleModelName', optionsValue: 'vehicleId', optionsCaption: 'Choose Model', value: vehicleModelId"></select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="col-lg-6">
                                            <label for="vehicledailyMilage" class="control-label text-right" style="float: right">Vehicle Daily Milage</label>
                                        </div>
                                        <div class="col-lg-6" id="vehicledailyMilage">
                                            <input type="text" class="form-control" data-bind="value: vehicleDailyMilage" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-4">
                                        <div class="col-lg-6">
                                            <label for="oilCompany" class="control-label text-right" style="float: right">Oil Company</label>
                                        </div>
                                        <div class="col-lg-6" id="oilCompany">
                                            <select id="oilCompany" class="form-control" data-bind="options: $root.oilMakers,optionsText: 'oilMakerName',optionsValue: 'oilMakerId',optionsCaption: 'Choose Oil Company', value: oilCompanyId"></select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="col-lg-6">
                                            <label for="oilName" class="control-label text-right" style="float: right">Oil Name</label>
                                        </div>
                                        <div class="col-lg-6" id="oilName">
                                            <select id="oilName" class="form-control" data-bind="options: $root.oilsModelsListForDialog,optionsText: 'oilName',optionsValue: 'oilId',optionsCaption: 'Choose Oil', value: oilNameId"></select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="col-lg-6">
                                            <label for="oilPower" class="control-label text-right" style="float: right">Power</label>
                                        </div>
                                        <div class="col-lg-6" id="oilPower">
                                            <input type="text" class="form-control" data-bind="value: oilPower, enable: false" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-4">
                                        <div class="col-lg-6">
                                            <label for="oilChangeDate" class="control-label text-right" style="float: right">Oil Change Date</label>
                                        </div>
                                        <div class="col-lg-6" id="oilChangeDate">
                                            <input class=" form-control" data-bind="datepicker: oilChangeDate" />
                                            <input id="txtFromtDate" data-bind="datepicker:oilChangeDate, value:oilChangeDate" type="text" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="col-lg-6">
                                            <label for="nextoilChangeDate" class="control-label text-right" style="float: right">Next Oil Change Date</label>
                                        </div>
                                        <div class="col-lg-6" id="nextoilChangeDate">
                                            <input type="text" class="form-control" data-bind="datepicker: nextOilChangeDate, enable: false" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="col-lg-6">
                                            <label for="SentSMS" class="control-label text-right" style="float: right">Sent SMS</label>
                                        </div>
                                        <div class="col-lg-6" id="SentSMS">
                                            <input type="checkbox" class="form-control" data-bind="checked: sentSms" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-4">
                                        <div class="col-lg-6">
                                            <label for="meterReading" class="control-label text-right" style="float: right">Meter Reading</label>
                                        </div>
                                        <div class="col-lg-6" id="meterReading">
                                            <input type="text" class="form-control" data-bind="value: currentMeterReading" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="col-lg-6">
                                            <label for="nextMeterReading" class="control-label text-right" style="float: right">Next Meter Reading</label>
                                        </div>
                                        <div class="col-lg-6" id="nextMeterReading">
                                            <input type="text" class="form-control" data-bind="value: nextMeterReading, enable: false" />
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-2"><label class="control-label text-right" style="float: right">Air Filter</label></div>
                                <div class="col-sm-2 btn-group">
                                    <label id="airFilterY" data-bind="css: { active: ($root.recordContainsAirFilter() == 1)}, click: $root.showAirFilterSection(), clickBubble: false" class="btn btn-primary">
                                        Yes
                                    </label>
                                    <label id="airFilterN" data-bind="css: { active: ($root.recordContainsAirFilter() == 0)}, click: $root.hideAirFilterSection(), clickBubble: false" class="btn btn-primary">
                                        No
                                    </label>
                                </div>
                                <div id="AirFilterSection" class="col-sm-7">
                                    <div class="col-sm-4">
                                        <select id="vehicleMaker" class="form-control" data-bind="options: $root.airFilters ,optionsText: 'AirFilterName' , optionsValue: 'AilFilterId',optionsCaption: 'Select Air Filter', value: airFilterId" style="width: 85%;"></select>
                                    </div>
                                    <div class="col-sm-1"><label class="control-label text-right" style="float: right">Qty</label></div>
                                    <div class="col-sm-2"><input type="text" class="form-control" data-bind="value: airFilterQty" /></div>
                                    <div class="col-sm-1"><label class="control-label text-right" style="float: right">Price</label></div>
                                    <div class="col-sm-3"><input type="text" class="form-control" style="width: 67%" data-bind="value: $root.selectedRecordAirFilterPrice, enable: false" /></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-2"><label class="control-label text-right" style="float: right">Oil Filter</label></div>
                                <div class="col-sm-2 btn-group">
                                    <label id="OilFilterY" data-bind="css: { active: ($root.recordContainsOilFilter() == 1)}, click: $root.showOilFilterSection(), clickBubble: false" class="btn btn-primary">
                                        Yes
                                    </label>
                                    <label id="OilFilterN" data-bind="css: { active: ($root.recordContainsOilFilter() == 0)}, click: $root.hideOilFilterSection(), clickBubble: false" class="btn btn-primary">
                                        No
                                    </label>
                                </div>

                                <div id="OilFilterSection" class="col-sm-7">
                                    <div class="col-sm-4">
                                        <select id="vehicleMaker" class="form-control" data-bind="options: $root.oilFilters ,optionsText: 'OilFilterName' , optionsValue: 'OilFilterId',optionsCaption: 'Select Oil Filter', value: oilFilterId" style="width: 85%;"></select>
                                    </div>
                                    <div class="col-sm-1"><label class="control-label text-right" style="float: right">Qty</label></div>
                                    <div class="col-sm-2"><input type="text" class="form-control" data-bind="value: oilFilterQty" /></div>
                                    <div class="col-sm-1"><label class="control-label text-right" style="float: right">Price</label></div>
                                    <div class="col-sm-3"><input type="text" class="form-control" style="width: 67%" data-bind="value: $root.selectedRecordOilFilterPrice, enable: false" /></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2"><label class="control-label text-right" style="float: right">Brake Oil</label></div>
                                <div class="col-sm-2 btn-group">
                                    <label id="BrakeOilY" data-bind="css: { active: ($root.recordContainsBrakeOil() == 1)}, click: $root.showBrakeOilSection(), clickBubble: false" class="btn btn-primary">
                                        Yes
                                    </label>
                                    <label id="BrakeOilN" data-bind="css: { active: ($root.recordContainsBrakeOil() == 0)}, click: $root.hideBrakeOilSection(), clickBubble: false" class="btn btn-primary">
                                        No
                                    </label>
                                </div>
                                <div id="BrakeOilSection" class="col-sm-7">
                                    <div class="col-sm-4">
                                        <select id="vehicleMaker" class="form-control" data-bind="options: $root.brakeOils ,optionsText: 'BrakeOilName' , optionsValue: 'BrakeOilId',optionsCaption: 'Select Brake Oils', value: brakeOilId" style="width: 85%;"></select>
                                    </div>
                                    <div class="col-sm-1"><label class="control-label text-right" style="float: right">Qty</label></div>
                                    <div class="col-sm-2"><input type="text" class="form-control" data-bind="value: brakeOilQty" /></div>
                                    <div class="col-sm-1"><label class="control-label text-right" style="float: right">Price</label></div>
                                    <div class="col-sm-3"><input type="text" class="form-control" style="width: 67%" data-bind="value: $root.selectedRecordbrakeOilPrice, enable: false" /></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-2"><label class="control-label text-right" style="float: right">PowerSteeringOil</label></div>
                                <div class="col-sm-2 btn-group">
                                    <label id="PowerSteeringOilY" data-bind="css: { active: ($root.recordContainsPowerSterringOil() == 1)}, click: $root.showPowerSterringOilSection()" class="btn btn-primary">
                                        Yes
                                    </label>
                                    <label id="PowerSteeringOilN" data-bind="css: { active: ($root.recordContainsPowerSterringOil() == 0)}, click: $root.hidePowerSterringOilSection()" class="btn btn-primary">
                                        No
                                    </label>
                                </div>
                                <div id="PowerSteeringOilSection" class="col-sm-7">
                                    <div class="col-sm-4">
                                        <select id="vehicleMaker" class="form-control" data-bind="options: $root.powerSteeringoils ,optionsText: 'PowerSterringOilName' , optionsValue: 'PowerStereringOilId',optionsCaption: 'Select Power Sterring Oil', value: powerStereringOilId" style="width: 85%;"></select>
                                    </div>
                                    <div class="col-sm-1"><label class="control-label text-right" style="float: right">Qty</label></div>
                                    <div class="col-sm-2"><input type="text" class="form-control" data-bind="value: powerSterringOilQty" /></div>
                                    <div class="col-sm-1"><label class="control-label text-right" style="float: right">Price</label></div>
                                    <div class="col-sm-3"><input type="text" class="form-control" style="width: 67%" data-bind="value: $root.selectedRecordPowerSterringOilPrice, enable: false" /></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bind="click: $root.onSaveOil">Save</button>
                        <button type="button" class="btn btn-default" style="margin-left: 0px;" data-bind="click: $root.onCloseOilDialog">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="two">
            <div style="width: 100%" class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" id="dialgHeaderPadding">
                        <h4 class="modal-title">Total Bill</h4>
                    </div>
                    <div class="col-lg-12 form-horizontal outerDiv-Padding">
                        <div class="col-sm-12" data-bind="with: $root.selectedRecord">
                            <div class="form-group" data-bind="visible: $root.recordContainsOil() == 1">
                                <div class="col-lg-6">
                                    <label for="oilPrice" class="control-label text-right" style="float: right">Oil</label>
                                </div>
                                <div class="col-lg-5" >
                                    <label id="oilPrice" class="control-label text-right" style="float: right">12.35</label>
                                </div>
                            </div>
                            <div class="form-group" data-bind="visible: $root.recordContainsAirFilter() == 1">
                                <div class="col-lg-6">
                                    <label for="airFilterPrice" class="control-label text-right" style="float: right">Air Filter</label>
                                </div>
                                <div class="col-lg-5">
                                    <label id="airFilterPrice" class="control-label text-right" style="float: right">12.35</label>
                                </div>
                            </div>
                            <div class="form-group" data-bind="visible: $root.recordContainsOilFilter() == 1">
                                <div class="col-lg-6">
                                    <label for="oilFilterPrice" class="control-label text-right" style="float: right">Oil Filter</label>
                                </div>
                                <div class="col-lg-5">
                                    <label id="oilFilterPrice" class="control-label text-right" style="float: right">12.35</label>
                                </div>
                            </div>
                            <div class="form-group" data-bind="visible: $root.recordContainsBrakeOil() == 1">
                                <div class="col-lg-6">
                                    <label for="brakeoilPrice" class="control-label text-right" style="float: right">Brake Oil</label>
                                </div>
                                <div class="col-lg-5">
                                    <label id="brakeoilPrice" class="control-label text-right" style="float: right">12.35</label>
                                </div>
                            </div>
                            <div class="form-group" data-bind="visible: $root.recordContainsPowerSterringOil() == 1">
                                <div class="col-lg-6">
                                    <label for="brakeoilPrice" class="control-label text-right" style="float: right">Power Steering Oil</label>
                                </div>
                                <div class="col-lg-5">
                                    <label id="brakeoilPrice" class="control-label text-right" style="float: right">12.35</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <h4 class="modal-title" style="color: red"> Total (Rs): <b>450</b></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


@* Wizard Popup ends here*@
