


<div class="modal fade" id="airFilterDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div style="width: 838px;" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" id="dialgHeaderPadding">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add/Edit Air Filter</h4>
            </div>
            <div class="col-lg-12 form-horizontal outerDiv-Padding" data-bind="with: $root.selectedAirFilter">
                <div class="form-group">
                    <div class="col-lg-4 text-right">
                        <div class="bs-example-tooltips tooltip-float-width">
                            <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Sort Order in Category" data-original-title="" title="">
                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                            </a>
                        </div>
                        <label for="oilAverageMilage" class="control-label text-right tooltip-float">Air Filter Name</label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="oilAverageMilage" data-bind="value: airFilterName, validationTooltip: airFilterName">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-4 text-right">
                        <div class="bs-example-tooltips tooltip-float-width">
                            <a class="input-group-addon" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Sort Order in Category" data-original-title="" title="">
                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                            </a>
                        </div>
                        <label for="oilAverageMilage" class="control-label text-right tooltip-float">Air Filter Price</label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="oilAverageMilage" data-bind="value: airFilterPrice, validationTooltip: airFilterPrice">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="click: $root.onSaveAirFilter">Save</button>
                <button type="button" class="btn btn-default" style="margin-left: 0px;" data-bind="click: $root.onCloseAirFilterDialog">Close</button>
            </div>
        </div>
    </div>
</div>

@* Wizard Popup ends here*@
