@{
    ViewBag.Title = "Index";
}

<div class="row" id="airFilterBinding">
        <div class="clearfix">
            <h1 class="pull-left" style=" padding-top: 17px; position: absolute;">Air Filter</h1>
        </div>
        <div class="row searchFilterSection" style="margin-top: 60px;">
            <div class="well" data-bind="with: $root">
                <form class="form-horizontal" data-bind="submit: searchAirFilter">
                    <div class="col-xs-3">
                        <input type="text" class="form-control" placeholder="<Search>" data-bind="value: searchFilter" />
                    </div>
                    
                    <div class="col-xs-1">
                        <div id="createButton">
                            <button type="button" class="btn btn-default" data-bind="click: createAirFilter">Create New</button>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success" data-bind="click: searchAirFilter">Search</button>
                </form>
            </div>
        </div>

        <div class="row searchFilterResultSection">
            <div class="well">
                <table id="" class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price </th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: airFilters">
                        <tr data-bind="click: $root.selectAirFilter">
                            <td data-bind="text: airFilterName"></td>
                            <td data-bind="text: airFilterPrice"></td>
                            <td>
                                <!-- ko template: { name: 'editTemplate' } -->
                                <!-- /ko -->
                            </td>
                            <td>
                                <!-- ko template: { name: 'deleteTemplate' } -->
                                <!-- /ko -->
                            </td>
                        </tr>
                    </tbody>
                </table>
                @Html.Partial("~/Areas/Common/Views/Shared/_Pager.cshtml")

            </div>

        </div>


        <script id="deleteTemplate" type="text/html">
            <a href="#" title="Delete"><span class="glyphicon glyphicon-remove" data-bind="click: $root.onDeleteAirFilter"></span></a>
        </script>

        <script id="editTemplate" type="text/html">
            <a href="#" title="Edit in Form"><span class="glyphicon glyphicon-edit" data-bind="click: $root.onEditAirFilter"></span></a>
        </script>

        @Html.Partial("_airFilterDialog")
    </div>

    <!-- ko stopBinding: true -->
    @Html.Partial("~/Areas/Common/Views/Shared/_ConfirmationDialog.cshtml")
    <!-- /ko -->
    @section inlinescripts
    {
        <script type="text/javascript">
            //add link in require config
            require(["airFilter/airFilter.view", "common/confirmation.view"]);
        </script>
    }
