@{
    ViewBag.Title = "Index";
}

<div class="row" id="productBinding">
    <div class="row searchFilterSection">
        @*data-bind="visible: !isProductEditorVisible()"*@
    <div class="well">
        <form class="form-horizontal">
            @*data-bind="submit: search"*@
            <div class="col-xs-3">
                <input type="text" class="form-control" placeholder="<Search>" /> @*data-bind="value: searchFilter"*@
            </div>
            <div class="col-xs-3">
                <select class="form-control"></select>  @*data-bind="options: $root.categories, optionsText: 'Name', optionsValue: 'Id', optionsCaption: '<category>', value: categoryFilter"*@
            </div>
            <div class="btn-group" id="createButton">
                <button type="button" class="btn btn-default">Create New</button>  @*data-bind="click: createProduct"*@
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Create Using Form</a></li>  @*data-bind="click: createProductInForm"*@
                </ul>
            </div>
            <button type="submit" class="btn btn-success">Search</button>  @*data-bind="click: search"*@
        </form>
    </div>
</div>

<div class="row searchFilterResultSection">
    @*data-bind="visible: !isProductEditorVisible()"*@
    <div class="well">
        <table id="productTable" class="table table-condensed">
            <thead>
                <tr>
                    <th> <span id="1">Name<span class="icon-up"></span></span></th>
                    <th> <span id="2">Description<span></span></span></th>
                    <th> <span id="3">Price<span></span></span></th>
                    <th> <span id="4">Category<span></span></span></th>
                </tr>
            </thead>
            <tbody>
                @*<!-- ko template: { name: templateToUse , foreach: products } -->
                    <!-- /ko -->*@
            </tbody>
        </table>
        @Html.Partial("~/Areas/Common/Views/Shared/_Pager.cshtml")
    </div>
</div>


<script id="deleteActionProductTemplate" type="text/html">
    <a href="#" title="Delete Product"><span class="glyphicon glyphicon-remove"></span></a>  @*data-bind="click: $root.onDeleteProduct"*@
</script>

<script id="editActionProductTemplate" type="text/html">
    <a href="#" title="Edit Inline"><span class="glyphicon glyphicon-pencil"></span></a>  @*data-bind="click: $root.onEditProductInline"*@
    <a href="#" title="Edit in Form"><span class="glyphicon glyphicon-edit"></span></a>  @*data-bind="click: $root.onEditProduct"*@
</script>

<script id="editProductTemplate" type="text/html">
    @*<tr data-bind="css: { selectedRow: $data === $root.selectedProduct() }">
            <td class="col-md-2">
                <input type="text" class="form-control" data-bind="value: name, validationTooltip: name" />
            </td>
            <td class="col-md-2">
                <input type="text" class="form-control" data-bind="value: description" />
            </td>
            <td class="col-md-2">
                <input type="text" class="form-control" data-bind="value: price, validationTooltip: price" />
            </td>
            <td class="col-md-2">
                <select class="form-control" data-bind="options: $root.categories, optionsText: 'Name', optionsValue: 'Id', optionsCaption: '<Category>', value: categoryId, validationTooltip: categoryId"></select>
            </td>
            <td><a href="#" data-bind="click: $root.onEditProduct" title="Edit in Form"><span class="glyphicon glyphicon-edit"></span></a></td>
            <td>
                <!-- ko template: { name: 'deleteActionProductTemplate' } -->
                <!-- /ko -->
            </td>
        </tr>*@
</script>

<script id="itemProductTemplate" type="text/html">
    @*<tr data-bind="click: $root.selectProduct">
            <td data-bind="text: name"></td>
            <td data-bind="text: description"></td>
            <td data-bind="text: price"></td>
            <td data-bind="text: categoryName"></td>
            <td>
                <!-- ko template: { name: 'editActionProductTemplate' } -->
                <!-- /ko -->
            </td>
            <td>
                <!-- ko template: { name: 'deleteActionProductTemplate' } -->
                <!-- /ko -->
            </td>
        </tr>*@
</script>

@Html.Partial("_ProductEditor")

</div>

<!-- ko stopBinding: true -->
@Html.Partial("~/Areas/Common/Views/Shared/_ConfirmationDialog.cshtml")
<!-- /ko -->
@section inlinescripts
{
    <script type="text/javascript">
        //add link in require config
        require(["product/product.view", "common/confirmation.view"]);
    </script>
}
